<html>
	<head>
		<title>HTML5 Rhythm Trainer v.0.1</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<script src='https://surikov.github.io/webaudiofont/npm/dist/WebAudioFontPlayer.js'></script>
		<script src='https://surikov.github.io/webaudiofontdata/sound/12840_0_Chaos_sf2_file.js'></script>
		<script src='https://surikov.github.io/webaudiofontdata/sound/12863_0_Chaos_sf2_file.js'></script>
		<script src='https://surikov.github.io/webaudiofontdata/sound/12864_0_Chaos_sf2_file.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" defer></script> 
        <script src='./rhythm.js' defer></script>

	</head>
	<body>
		<div class="jumbotron text-center">
            <h1>Rhythm trainer</h1>
            <p>version 0.1</p>
            <p>by <a href="https://davidnewmanmusic.bandcamp.com/album/the-well-trained-ear-songs-to-strengthen-aural-skills">David Newman</a></p>
		</div>
		<div class="container">
  			<div class="row">
      			<h2 class="text-center">The Trainer</h2>
  				<div class="col-sm-2 text-center">
  					<div class="dropdown btn-group">
  						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Example Length
  						<span class="caret"></span></button>
  						<ul class="dropdown-menu" style="padding-left: 5px;">
    						<li class="dropdown-item" onclick="setExampleLen(4)">4 beats</li>
    						<li class="dropdown-item" onclick="setExampleLen(6)">6 beats</li>
    						<li class="dropdown-item" onclick="setExampleLen(8)">8 beats</li>
    						<li class="dropdown-item" onclick="setExampleLen(10)">10 beats</li>
  						</ul>
  						<div id = "selectedLength">Selected length: 4 beats</div>
					</div>
                    <div class="dropdown btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Difficulty
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="padding-left: 5px;">
                          <li class="dropdown-item diff-choose" value=1>1</li>
                          <li class="dropdown-item diff-choose" value=2>2</li>
                          <li class="dropdown-item diff-choose" value=3>3</li>
                          <li class="dropdown-item diff-choose" value=4>4</li>
                        </ul>
                        <div id="selectedDifficulty">Selected difficulty: 4</div>
                  </div>
  				</div>
  				<div class="col-sm-8 text-center">
  					<button type="button" id="testBtn" class="btn btn-primary" onclick="start()">Create New Exercise</button>
  				</div>
  				<div class="col-sm-2 text-center">
  					<button type="button" id="testBtn" class="btn btn-primary" onclick="replay()">Replay</button>
  				</div>
  			</div>
  			<div class="row">
  				</br>
  				<div class="col-sm-9">
  					<div id = "userAnswer"></div>
  				</div>
  				<div class="col-sm-3 text-center">
  					<button type="button" id="testBtn" class="btn btn-primary" onclick ="testAnswer()">Check Answer</button>
  					
                    <div id = "testResult"></div>
  				</div>
  			</div>
  			<div class="row">
  				</br>
  				<div class="col-sm-12 text-center">
    				<div id="rhythm-list"></div>
  					<button id="delRhythmButton" type="button" class="btn btn-primary" onclick="delRhythm();" >Delete</button>
    			</div>	
  			</div>
  			<div class="row">
  				
  			</div>
  			<div class="row">
  				<div class="col-sm-12 text-center">
  					</br>
					<p><a href="https://surikov.github.io/webaudiofont/">built using surikov's webaudiofont</a> This is released under the GNU General Public License 3.0</p>
  				</div>
  			</div>
  			<div class="row">
        		<div class="col-sm-6">
          			<h3>About</h3>
      					<p>This is a very preliminary attempt at making an html5 rhythm trainer. Right now it is only for dictation, and only with simple meter beat sets.
      					This is partly by design, as a major stumbling block for students who struggle with rhythm is recognizing chunks of material.
      					The intention of this particular trainer will be to reinforce "words" of commonly seen rhythmic patterns.</p>
      					<p>I realize this interface may not be entirely self explanatory yet, so the idea is that you choose your example length, which defaults to four beat groups.
      					Then, you create a new exercise, which will then play, with a two beat count-off. Clicking the buttons at the bottom will add that beat group to your answer, which
      					will then display. If you make a mistake, you can remove the last beat group added with the "delete" button. When you think you have the right answer, click "check answer"
      					which will tell you if you got it right.</p>
    			</div>
    			<div class="col-sm-6">
      				<h3>TBD</h3>
      					<p>Too much to itemize right now, but:
						<ul>
							<li>add compound meter words</li> 
							<li>flesh out ways of making it useful</li>
							<li>add triplets to simple meter</li>
							<li>try and add a rhythm reader as well (listening for keypresses or taps)</li>
							<li>make plans for expanding existing codebase to serve other needs.</li>
						</ul>
						</p>
    			</div>
  			</div>
  			
		</div>
	</body>
</html>

<script id="rhythm-template" type="text/x-lodash-template">
    <button type="button" class="btn btn-primary pad4-lr" onclick="addRhythm('./assets/images/<%= rhythm %>');">
        <img src="./assets/images/<%= rhythm %>.png">
    </button>
</script>